.speaker__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-item__image-wrapper {
  border-radius: 50%;
  width: 111px;
  height: 120px;
  overflow: hidden;
}

.speaker-item__image {
  object-fit: cover;
}
