.burger {
  z-index: 6;
  display: none;
  flex-direction: column;
  width: 26px;
  height: 21px;
  position: relative;
}

.line {
  width: 26px;
  height: 2px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  display: flex;
}

.line:nth-child(1) {
  right: 0px;
  width: 15px;
  top: 0;
}

.line:nth-child(2) {
  left: 0;
  top: 9px;
}

.line:nth-child(3) {
  top: 18px;
  width: 15px;
  left: 0px;
}
